/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

a{
  color:#3C739B;
  text-decoration: none;
  font-size:12px;
}

a:hover{
  color:#eee;
}

.hide{
  display:  none !important
}

.row{
  width:100%;
  display: inline-block;
}

.container{
  width:1000px;
  min-height:550px;
  margin:0 auto;
}

footer{
  padding:30px;
  border-top:1px solid #435E73;
}

footer > a{
  margin-right: 20px;
}

.col-large{
  float:left;
  width:650px;
  margin:0;
  padding:10px;
  box-sizing: border-box;
}

.col-small{
  float:left;
  width:350px;
  margin:0;
  padding:10px;
  box-sizing: border-box;
}

.page-title{
  width:100%;
  display:inline-block;
  padding:15px 10px;
}

.page-title > h3{
  margin:0;
  font-size:16px;
  color:#fff;
}

.page-title > p{
  margin:0;
  font-size: 12px;
}

.stats-row{
  padding:20px 0;
  //border-bottom:1px solid #435E73;
}

.stats-row:last-child{
  border:0;
}

.stat-label{
  width: 180px;
  display: inline-block;
  height: 120px;
  line-height: 120px;
  float:left;
  color:#63B0E4;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.stat-tile{
  width:140px;
  height:120px;
  float:left;
  text-align: center;
}

.stat-tile > label{
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #63B0E4;
  overflow: hidden;
}

.stat-tile > span{
  width:100%;
  display: inline-block;
  font-size:45px;
  color:#fff;
  font-weight: bold;
}

.tab-num-stat{
  background-color:red;
  color:#fff;
  border-radius: 50%;
  margin:3px;
  padding:3px;
  font-size: 9px;
}


.filter-buttons-container{
  list-style: none;
  padding:20px;
  margin:0;
}

.filter-buttons-container > li{
  margin:0 5px;
  padding: 3px 5px;
  float:left;
  border:1px solid #ccc;
  background-color:#fff;
  cursor: pointer;
  outline: none;
  font-size: 10px;
  color: #333;
}


.filter-buttons-container > li, .alert-time-filters > button{
  background: #f7f2f7;
  background-image: -webkit-linear-gradient(top, #f7f2f7, #e0e0e0);
  background-image: -moz-linear-gradient(top, #f7f2f7, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f7f2f7, #e0e0e0);
  background-image: -o-linear-gradient(top, #f7f2f7, #e0e0e0);
  background-image: linear-gradient(to bottom, #f7f2f7, #e0e0e0);
  color: #333;
  font-size: 10px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.filter-buttons-container > li.active-filter, .filter-buttons-container > li:hover,
.alert-time-filters > button.active-time-filter, .alert-time-filters > button:hover {
  background: #153651;
  color:#fff;
  border:1px solid #fff;
}



.forecasts-panel{
  padding:15px 0;
  //border-bottom:1px solid #435E73;
  display: inline-block;
  width:100%;
}

.forecasts-panel > h3{
  color:#fff;
  font-size: 14px;
}

.forecasts-panel > div{
  float:left;
  width:49%;
  padding:10px 0;
  box-sizing: border-box;
}

.forecasts-panel > div:nth-child(2){
  margin-right: 2%;
}

.forecasts-panel > .forecasts-chart{

}

.forecasts-panel > .forecasts-table{

}

.forecasts-panel > .forecasts-chart > div{
  width:100%;
}

.forecasts-panel > .forecasts-table > div{
  width:100%;
  min-height: 120px;
  border:1px solid #435E73;
}

/* alerts css */

#start_date{
  margin-right:10px;
}

#hour_select{
  position: absolute;
  top:65px;
  left:10px;
  z-index:9999;
  background-color:#153651;
  padding:10px 15px;
  width:200px;
  box-shadow: 0 0 1px 1px #ccc;
  border-radius: 10px;
}

#hour_select > input{
  cursor: -webkit-grab;
  width:calc(100% - 55px);
}

#hour_select > span{
  display: inline-block;
  width:25px;
  text-align: center;
}

#hour_select > label{
  font-size: 10px;
  float: right;
}

#forecasts-tooltip, #alerts-tooltip {
  display: none;
  z-index: 10000;
  color: #fff;
  border-radius: 6px;
  width: auto;
  background-color: #fff;
  color:#333;
  font-size: 10px;
  padding:15px 20px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(21,54,81,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(21,54,81,1);
  box-shadow: 0px 0px 9px 0px rgba(21,54,81,1);
}

#forecasts-tooltip > span:first-child, #alerts-tooltip > span:first-child{
  width:100%;
  display: inline-block;
}

#forecasts-tooltip > span:nth-child(2), #alerts-tooltip > span:nth-child(2){
  float:right;
  font-weight: bold;
  font-size: 20px;
}



#ward-map {
  height: 750px;
  width:100%;
  float:left;
  max-width:calc(100% - 550px);
}

#select-panel {
  margin-top: 10px;
  padding: 10px 0;
}

.alert-filters > div{
  //margin:0 auto;
  //width:600px;
}

.alert-filters label{
  margin:0 15px 0 5px;
  font-size: 12px;
}

.alert-filters input{
  //margin-left:10px;
}

.alert-filters select{
  margin-left:40px;
}

.alert-time-filters{
  margin-top:25px;
}

.alert-time-filters > button{
  margin:0 5px 0 0;
  padding:3px 10px;
  border:1px solid #ccc;
  cursor: pointer;
  outline: none;
}

.alerts-chart-title{
  font-size: 14px;
  color:#fff;
}

.toggle-alerts-view, .toggle-alerts-view:hover{
  color:#fff;
  float:right;
  text-decoration: underline;
}

.alerts-chart-stat{
  color:#ffd300;
  font-size: 12px;
  width:100%;
  display: inline-block;
  text-align: center;
}

.summary-stats-container{
  float:left;
  width:550px;
  display: inline-block;
  background-color: #fff;
  height:100%;
  height:750px;
  overflow-y: auto;
  box-shadow: inset 2px 0px 5px 1px #ccc;
  -webkit-box-shadow: inset 2px 0px 5px 1px #ccc;
}

.content-wrapper-fixed-height{
  height:750px;
}

.stat-category{
  box-sizing: border-box;
  width:100%;
  display: inline-block;
  color:#333;
  padding-left:10px;
}

.stat-category > h3{
  margin:0;
  padding:5px 0;
  text-indent: 5px;
  font-weight: normal;
  font-size: 16px;
}

.stat-category > div{
  display:inline-block;
  //background-color: #ccc;
  border-bottom:1px solid #aaa;
  width:120px;
  margin:10px 5px;
  margin-top:0;
  height:150px;
  -webkit-box-shadow: 0 0 1px 1px #ccc;
  box-shadow: 0 0 1px 1px #ccc;
  background-color:#E3F1FC;
}

.stat-category > div:nth-child(2), .stat-category > div:nth-child(2){
  //margin-left:10px;
}

.stat-category span{
  width:100%;
  height:70px;
  display:inline-block;
  font-size:25px;
  line-height: 70px;
  text-align: center;
}

.stat-category label{
  width:100%;
  display: inline-block;
  //background-color: green;
  text-align:center;
  font-size: 12px;
}

.stat-box{
  float:left;
  width:120px;
  height:150px;
  margin:20px;
  box-shadow: 0 0 1px 1px #ccc;
  background-color: #E3F1FC;
  color:#333;
}

.stat-box:hover{
  box-shadow: 0 0 5px 1px #ccc;
}

.stat-box > span{
  width:100%;
  display: block;
  height:70px;
  font-size:25px;
  line-height: 70px;
  text-align: center;
}

.stat-box > label{
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
}

.spacer{
  clear: both;
}


/* React tabs  */

.ReactTabs__TabList {
  z-index: 10000;
}

.react-tabs{
}

.react-tabs > ul{
  border:0 !important;
  background-color:#000;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  /*padding:0 calc( ( 100% - 1000px ) / 2 ) !important;*/
}

.ReactTabs__Tab{
  padding:15px !important;
  text-align: center;
  border-radius: 0 !important;
  background-color:#000;
  bottom: 0 !important;
  color:#ccc !important;
  font-size: 12px;
  width:100px;
  //font-weight: bold;
}

.ReactTabs__Tab--selected{
  background-color: #153651 !important;
  color:#fff !important;
  border: 0 !important;
  box-shadow:none !important;
}

.ReactTabs__TabPanel--selected{
  margin-top:50px;
  z-index: 1000;
}

.ReactTabs__Tab--selected:after{
  display: none;
}

.react-date-field > .react-date-field__clear-icon, .react-date-field > .react-date-field__calendar-icon{
  display:none !important;
}

.vertical-middle {
  vertical-align: middle;
}
